@model IEnumerable<TreeApp.ViewModels.BranchViewModel>
@{
    ViewData["Title"] = "Branch Creator";
}
<div class="align-content-center mx-auto mt-5 mb-5 px-5 pt-5 pb-5 rounded-5 bg-light col-4">
    @using (Html.BeginForm("CreatePost","Home", FormMethod.Post))
    {
        <h10>Name of the new branch:</h10>
        <br />
        <input type="text" name="Name" id="Name" placeholder="Branch.." required/>
        <br />
        <h10>Id of parent:</h10>
        <br />
        <select id="parentid" name="ParentID" required>
            <option value=""> -- Wybierz --</option>

            @foreach (var branch in Model)
            {
                <option value="@branch.Id">@branch.Id</option>
            }
        </select>
        <br /><br />
        <input class="btn btn-primary mt-10" type="submit" value="Submit" />
    }   
</div>
