<div class="align-content-center">
    Branch has been successfully deleted!
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Back to branch view...</a>
</div>